{% extends "layout.html" %}
{% block content %}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
           <h4>Daily Cost, by Project</h4>
           <div id="chartContainer">
           </div>
        </div>

<script>
var CHART = {
    onReady: function() {
        NAV.onReady();
        CHART.remoteUrl="/data/daily/project";
        CHART.projects = {{ settings.projects|tojson|safe }};
        CHART.svg = dimple.newSvg("#chartContainer",590,600);
        CHART.loadChart();
    },

    drawGraphs: function (dubdata) {
        CHART.svg.selectAll("*").remove();
        cdata = dimple.filterData(dubdata,"Project",CHART.projects);
        dchart = new dimple.chart(CHART.svg);
        dchart.setBounds(60, 100, 510, 400);
        x = dchart.addTimeAxis("x", "Month","%Y-%m-%d","%Y-%m-%d");
        x.addGroupOrderRule("Month");
        y = dchart.addMeasureAxis("y", "Spend");
        s1 = dchart.addSeries("Project", dimple.plot.bar, [x,y]);
        s1.data = cdata;
        mylegend = dchart.addLegend(60, 20, 510, 60, "right");
        dchart.draw();
        dchart.legends = [];

        CHART.svg.selectAll("title_text")
            .data(["(Click a provider to show/hide it:)"])
            .enter()
            .append("text")
            .attr("x", 300)
            .attr("y", 10)
            .style("font-family", "sans-serif")
            .style("font-size", "10px")
            .style("color", "Black")
            .text(function (d) { return d; });

         filtervalues = dimple.getUniqueValues(dubdata, "Project");
         // Get all the rectangles from our now orphaned legend
         mylegend.shapes.selectAll("rect")
           // Add a click event to each rectangle
          .on("click", function (e) {
            // This indicates whether the item is already visible or not
            var hide = false;
            var newfilters = [];
            // If the filters contain the clicked shape hide it
            filtervalues.forEach(function (f) {
              if (f === e.aggField.slice(-1)[0]) {
                hide = true;
              } else {
                newfilters.push(f);
              }
            });

            // Hide the shape or show it
            if (hide) {
              d3.select(this).style("opacity", 0.2);
            } else {
              newfilters.push(e.aggField.slice(-1)[0]);
              d3.select(this).style("opacity", 0.8);
            }
            // Update the filters
            filtervalues = newfilters;
            // Filter the data
            s1.data = dimple.filterData(dubdata, "Project", filtervalues);
            // Passing a duration parameter makes the chart animate. Without
            // it there is no transition
            dchart.draw(800);
          });

    },

    loadChart: function (qstring){
        querypath = CHART.remoteUrl;
        if (qstring) {
            querypath += "?" + qstring;
        }
        $.ajax({
            url: querypath,
            dataType: 'json',
            cache: true,
            timeout: 20000,
            success: function(data) {
                // $('#output ul').append('<li>The feed loads fine');
                CHART.drawGraphs(data);
                //setTimeout(loadChart, 60000);
            },
            error: function(){
                //setTimeout(CHART.loadChart, 5000);
            }
        });
    }
};

$( document ).ready ( CHART.onReady );
</script>


{% endblock %}
