<!DOCTYPE html>
{#
layout_capest.html - the layout template used by capacity forecast pages
#}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="usage billing metrics">
    <meta name="author" content="">
    <title>Datacenter Usage and Billing</title>
    <link rel="stylesheet" media="all" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" media="all" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" media="all" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.standalone.css" />
    <link rel="stylesheet" media="all" type="text/css" href="static/css/dub_dash.css" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript" src="http://d3js.org/d3.v3.min.js"></script>
    <script type="text/javascript" src="http://dimplejs.org/dist/dimple.v2.2.0.min.js"></script>


 <script>

var NAV = {
    onReady: function() {
        $("#datetimeest").datepicker('setDate', new Date());
        NAV.capdata = {{ csettings.caparray|tojson|safe }};
        NAV.init();
        $(".dropdown-menu li a").click( NAV.updateCb );
        $("button#submit").click( NAV.submitCb );
    },
     
    init: function() {
        Object.keys(NAV.capdata).forEach(function(key,index) {
             if (NAV.capdata[key]) {
                $('#capdropdown').append('<li><a role="menuitem" tabindex="-1" data-value="'+key+'" >'+NAV.capdata[key][1]+'</a></li>');
            };
        }, NAV.capdata);
    },

     updateCb: function() {
         $(this).parents(".dropdown").find('.dropdown-toggle').val($(this).data('value'));
         $(this).parents(".dropdown").find('.dropdown-toggle').text($(this).text());
     },

     submitCb: function(){
        var capacity_ids = $("#capacity").val();
        var time_est = $("#datetimeest").val();
        var qstring = "";

        if (capacity_ids) {
          qstring += "?ids="+capacity_ids;
        }

       if (time_est != "") {
            var est_time = Date.parse(time_est)/1000;
            qstring += "&opt_date="+est_time;
        }
        CHART.loadEstData(qstring);
        CHART.loadActData(qstring);

     }

};



  </script>

  <style>
        svg {
                display: block;
        }
        html, body {
                height: 100%;
        }

        html, body, .chart, svg {
            margin: 0px;
            padding: 0px;
            height: 600px;
            width: 100%;
        }
        body {
            min-height: 768px;
        }
        .dateholder {
            width: 220px;
        }
  </style>

  </head>

  <body>
<div class="container-fluid">
         <nav id="navbar" class="navbar-default navbar-header" role="navigation">
           <div class="container">
             <h3>Datacenter Usage and Billing</h3>
           </div>
          <ul class="nav navbar-nav label">
            <li class="navbar-brand">Filter:</li>

            <li class="dropdown">
            <a href="#" id="capacity" role="button" class="dropdown-toggle" data-toggle="dropdown">Capacity Metrics <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="capacity" id="capdropdown">
              </ul>
           </li>
           <li class="navbar-brand">
              <i class="glyphicon glyphicon-calendar" id="cb"></i>
           </li>
           <li class="navbar-brand">
              <input class="form-control" type="text" id="datetimeest"/>
           </li>
           <button type="submit" class="btn btn-default" id="submit">Go</button>
          </ul>
        </nav> <!-- /navbar -->
</div><!-- /.container-fluid -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/monthlyprovider.html"><i class="fa fa-support"></i>Cost Reports </a></li>
            <li><a href="/hostmap.html"><i class="fa fa-support"></i> Host Map Reports </a></li>
            <li><a href="/budgets.html"><i class="fa fa-support"></i> Budget Administration </a></li>
          </ul>
        </div>
{% block content %}{% endblock %}
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
