<!DOCTYPE html>
{#
layout_admin.html - the layout template used by admin pages
#}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="usage billing metrics">
    <meta name="author" content="">
    <title>Datacenter Usage and Billing</title>
    <link rel="stylesheet" media="all" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" media="all" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" media="all" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.standalone.css" />
    <link rel="stylesheet" media="all" type="text/css" href="static/css/zulily_dash.css" />
    <link rel="stylesheet" media="all" type="text/css" href="static/css/jsgrid.min.css" />
    <link rel="stylesheet" media="all" type="text/css" href="static/css/jsgrid-theme.min.css" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="static/js/jsgrid.min.js"></script>



 <script>

var NAV = {
    onReady: function() {
        $("#datetimestart").datepicker({ autoclose: true });
        $("#datetimeend").datepicker({  autoclose: true });
        NAV.prvdata = {{ asettings.prvarray|tojson|safe }};
        NAV.teamdata = {{ asettings.teamhash|tojson|safe }};
        NAV.prjdata = {{ asettings.prjdict|tojson|safe }};
        NAV.cloneflag = {{ asettings.enable_cloning|tojson|safe }};
        NAV.init();
        $(".dropdown-menu li a").click( NAV.updateCb );
        $("button#submit").click( NAV.submitCb );
        $("#cb").click ( NAV.clearDateCb );
    },
     
    init: function() {
        Object.keys(NAV.prvdata).forEach(function(key,index) {
             if (NAV.prvdata[key]) {
                $('#prvdropdown').append('<li><a role="menuitem" tabindex="-1" data-value="'+key+'" >'+NAV.prvdata[key][0]+' ('+key+')</a></li>');
            };
        }, NAV.prvdata);
        Object.keys(NAV.teamdata).forEach(function(key,index) {
            if (NAV.teamdata[key]) {
                $('#teamdropdown').append('<li><a role="menuitem" tabindex="-1" data-value="'+key+'" >'+NAV.teamdata[key]+' ('+key+')</a></li>');
            };
        }, NAV.teamdata);
        Object.keys(NAV.prjdata).forEach(function(key,index) {
            if (NAV.prjdata[key]) {
                $('#prjdropdown').append('<li><a role="menuitem" tabindex="-1" data-value="'+key+'" >'+NAV.prjdata[key][0]+' ('+key+')</a></li>');
            };
        }, NAV.prjdata);
        if (NAV.cloneflag == 1) {
            $('#clone').prop('checked',true);
        };
    },

     updateCb: function() {
         $(this).parents(".dropdown").find('.dropdown-toggle').val($(this).data('value'));
         $(this).parents(".dropdown").find('.dropdown-toggle').text($(this).text());
     },

     submitCb: function(){
        var provider = $("#provider").val();
        var team = $("#team").val();
        var project = $("#project").val();
        var start_date = $("#datetimestart").val();
        var end_date = $("#datetimeend").val();
        var qstring = "";

        if (start_date != "" && end_date !="") {
            var time_start =Date.parse(start_date)/1000; 
            var time_end = Date.parse(end_date)/1000; 
            qstring = "&time_start="+time_start+"&time_end="+time_end;
        }
        if (provider) {
          qstring += "&prvid="+provider;
        }
        if (team) {
          qstring += "&teamid="+team;
        }
        if (project) {
          qstring += "&prjid="+project;
        }

     },

     clearDateCb: function() {
         $('#datetimestart').val("");
         $('#datetimeend').val("");
         $('.open').removeClass('open');
     }
};



  </script>

  <style>
        svg {
                display: block;
        }
        html, body {
                height: 100%;
        }

        html, body, .chart, svg {
            margin: 0px;
            padding: 0px;
            height: 600px;
            width: 100%;
        }
        body {
            min-height: 768px;
        }
        .dateholder {
            width: 220px;
        }
  </style>

  </head>

  <body>
<div class="container-fluid">
         <nav id="navbar" class="navbar navbar-default navbar-static" role="navigation">
           <div class="container">
             <h3>Datacenter Usage and Billing</h3>
           </div>
          <ul class="nav navbar-nav label">
            <li class="navbar-brand">Key:</li>

            <li class="dropdown">
            <a href="#" id="provider" role="button" class="dropdown-toggle" data-toggle="dropdown">Providers <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="provider" id="prvdropdown">
              </ul>
           </li>
           <li class="dropdown">
            <a href="#" id="team" role="button" class="dropdown-toggle" data-toggle="dropdown">Teams <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="team" id="teamdropdown">
              </ul>
           </li>
           <li class="dropdown">
            <a href="#" id="project" role="button" class="dropdown-toggle" data-toggle="dropdown">Projects <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="project" id="prjdropdown">
              </ul>
           </li>
           <li>
             <div class="checkbox">
               <label class="navbar-link">
                 <input type="checkbox" id="clone" disabled="disabled">Cloning Enabled
               </label>
             </div>
          </li>
          </ul>
        </nav> <!-- /navbar -->
</div><!-- /.container-fluid -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/monthlyprovider.html"><i class="fa fa-dashboard"></i>Cost Charts</a></li>
            <li><a href="/budgets.html"><i class="fa fa-support"></i>Budget Administration</a></li>
            <li><a href="/providers.html"><i class="fa fa-support"></i>Provider Information</a></li>
            <li><a href="/teams.html"><i class="fa fa-support"></i>Team Administration</a></li>
            <li><a href="/projects.html"><i class="fa fa-support"></i>Project Administration</a></li>
          </ul>
        </div>
{% block content %}{% endblock %}
</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
