{% extends "layout_admin.html" %}
{% block content %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h3>Team Administration</h3>
  <div id="jsGrid"></div>
    <script>
        $(function() {
            $("#jsGrid").jsGrid({
            width: "100%",
            height: "400px",
 
            inserting: true,
            filtering: true,
            editing: true,
            sorting: true,
            autoload: true,
            controller: {
                loadData: function(filter) {
                    return $.ajax({
                        type: "GET",
                        url: "/data/teams/list",
                        data: filter,
                        dataType: "json"
                    });
                },
                updateItem: function(item) {
                    return $.ajax({
                        type: "POST",
                        url: "/data/teams/edit",
                        data: item,
                        dataType: "json"
                    });
                },
                insertItem: function(item) {
                    return $.ajax({
                        type: "POST",
                        url: "/data/teams/insert",
                        data: item,
                        dataType: "json"
                    });
                },
                deleteItem: function(item) {
                    return $.ajax({
                        type: "DELETE",
                        url: "/data/teams/delete",
                        data: item,
                        dataType: "json"
                    });
                }
            },
 
 
            fields: [
                { name: "ID", type: "number", width: 5, editing: false,
                  inserting: false},
                { name: "Name", type: "text", width: 20 },
                { type: "control", width: 5 }
            ]
            });
        });
    $( document ).ready ( NAV.onReady );
    </script>
</div>
{% endblock %}
